* {
    overflow-x: hidden;
    box-sizing: border-box ;
    margin: 0;
    padding: 0;
}

body:has(#container-area-tecnica) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100vw;
    background-color: #f7f7f7;
}

#container-area-tecnica {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

}

.main-tecnica {
    display: grid;
    grid-template-areas: 
    "agendamento"
    "participantes" 
    "presenca" ;
    gap: 2%;
    margin-top: 20%;
    width: 100%;
}