a {
    text-decoration: none;
}

main {
    background-color: white;
    padding: 3rem;
    border-radius: 5px;
    box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.62);
}

.titulo {
    margin: 0;
    padding: 20px;
    background-color: #e5883f;
    color: white;
    width: 100%;
}

.main-btn {
    padding: 20px;
    background-color: #e5883f;
    color: white;
    width: fit-content;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.main-btn:hover {
    transition: .3s;
    background-color: white;
    color: #e5883f;
    border: 3px solid #e5883f;
}

label {
    color: #58595b;
    font-weight: bold;
    font-size: 1.1rem;
}

select {
    padding: 10px 20px;
    font-size: 1.1rem;
    border: none;
    box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.62);
    border-radius: 10px;
}

input {
    padding: 10px 20px;
    font-size: 1.1rem;
    border-radius: 10px;
    box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.13);
    border: none;
}

input:read-only {
    background-color: #f0f0f0;
}

textarea {
    padding: 10px 20px;
    font-size: 1.1rem;
    border-radius: 10px;
    box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.13);
    border: none;
}

textarea:read-only {
    background-color: #f0f0f0;
}

.header {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h1 {
        font-size: 4rem;
        color: #e5883f
    }

    & h2 {
        color: #58595b
    }
}